body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html, body {
  height: 100vh;
  height: -webkit-fill-available; /* Safari */
}

.top {
    background-color: #1f2937;
    color: #F9Faf8;
    padding: 1em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5em;
    padding-top: 0;
}

.headerlogo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
  white-space: nowrap;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 1em;
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 24px;
    gap: 1.5em;
}

.hero-left-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
    min-width: 280px;
}

.hero-left-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.7em;
}


.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;
    height: auto;
}

.signup {
    background-color: #3882f6;
    color: #F9FAF8;
    border: 0px;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
}



.quotesection {
    background-color: #E5E7EB;
}

.footer {
    background-color: #1f2937;
    color: #F9Faf8;
}

.info, .quotesection, .cta {
  flex-grow: 1; /* Crecen para llenar espacio */
  display: flex;
  flex-direction: column; /* Por si quieres que el contenido interno se distribuya verticalmente */
}
